body {
  background-color: $plexus-blue;
  @include background-image(url("/images/background_pattern1.svg"));
  background-position: top left;
  background-repeat: no-repeat;
}


.wrapper, #main {
  @include outer-container;

  .content {
    @include span-columns(10);
    @include shift(1);
  }

  .primary {
    @include span-columns(8);
  }

  .primary.header.main {
    border-left: 5px solid #fff;
    padding-left: 3em;
    margin-bottom: 10em;
  }

  .secondary {
    @include span-columns(4);

    .icon {
      @include span-columns(3);
    }

    .blurb {
      @include span-columns(9);
    }
  }
}

footer {
  @include outer-container;
  padding-bottom: 2em;

  .content {
    @include span-columns(10);
    @include shift(1);
  }
}