body {
  background-color: $plexus-blue;
  @include background-image(url("/images/background_pattern1.svg"));
  background-position: top left;
  background-repeat: no-repeat;
}


.wrapper, #main {
  @include outer-container;

  .content {
    @include span-columns(10);
    @include shift(1);
  }

  .primary {
    @include span-columns(8);
  }

  .primary.header.main {
    border-left: 5px solid #fff;
    padding-left: 3em;
    margin-bottom: 10em;
  }

  .intro-secondary {
    @include span-columns(4);
  }

  .secondary {
    @include span-columns(6);

    .icon {
      @include span-columns(2);
    }

    .blurb {
      @include span-columns(10);
    }
  }
}

footer {
  @include outer-container;
  padding-bottom: 2em;

  .content {
    @include span-columns(10);
    @include shift(1);
  }
}

// MAPS

#map_canvas {
  height: 500px;
  width: 100%;
  margin-bottom: -10em;
  margin-top: 4em;
}

#map_canvas img {
  max-width: none;
// to prevent UI control bug
}

#map_canvas .content {
  padding: 0 0.5em 0 0.5em;
}

#map_canvas .firstHeading {
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
  margin: 0;
}

#map_canvas #bodyContent p {
  font-size: 1em;
  margin: 0;
}

// TABLES

table {
  a, td {
    color: #fff;
  }
  td {
    vertical-align: top;
  }
  .address-category {
      text-align: right;
      padding-right: 2em;
    }
  tr {
    border-bottom: none;
  }
}