<footer class="footer-2" role="contentinfo">
  <div class="footer-logo">
    <img src="../images/logo_footer.svg" alt="Logo image">
  </div>
    <ul>
      <li><a href="index.html">Acerca de Plexus</a></li>
      <li><a href="javascript:void(0)">Contacto</a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="https://www.facebook.com/clinicaplexus" target="_blank">Siguenos en</a></li>
      </ul>

      <ul class="footer-social">
        <li><a href="https://www.facebook.com/clinicaplexus" target="_blank">
          <img src="../images/facebook.svg" alt='Facebook logo'>
          </a></li>
      </ul>
    </div>
</footer>


<!-- <footer>
    <div class="content">
      <h5 class="heading">Síguenos en</h5>
      <a href="https://www.facebook.com/clinicaplexus" target="_blank">
        <img src="../images/facebook.svg" alt='Facebook logo'>
      </a>
    </div>
</footer> -->