<div>
  <h1>Plexus</h1>

  <div class="small-column">
    <div class="icon"></div>
    <div class="servicio">
      <h2>Clínica de estrés</h2>
      <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
    </div>
  </div>

</div>