<div class="wrapper">

  <section class="content">
    <div class="secondary">
      <img src="images/logo.svg" class="logo">
    </div>
    <div class="primary header main">
      <h1>Medicina, nutrición, y psicología en equipo contigo.</h1>
      <p>Lorem ipsum dolor sit amet, ex vix fabellas voluptatibus, an delectus cotidieque nec. Sint fuisset id cum. An mea malorum dolores legendos, te est aeque oporteat aliquando. Duo te reque suscipit maluisset, qui ex quot congue graeci. Eu mei liber tempor timeam.</p>
    </div>
  </section>

  <section class="content">
    <article class="secondary">
      <div class="icon">
        <img src="images/estres_icono.svg">
      </div>
      <div class="blurb">
        <h2>Clínica de Estrés</h2>
        <p>Lorem ipsum dolor sit amet, ex vix fabellas voluptatibus, an delectus cotidieque nec. An mea malorum dolores legendos, te est aeque oporteat aliquando.</p>
      </div>
    </article>

    <article class="secondary">
      <div class="icon">
        <img src="images/salud_integral_icono.svg">
      </div>
      <div class="blurb">
        <h2>Salud Integral</h2>
        <p>Lorem ipsum dolor sit amet, ex vix fabellas voluptatibus, an delectus cotidieque nec. An mea malorum dolores legendos, te est aeque oporteat aliquando.</p>
      </div>
    </article>

    <article class="secondary">
      <div class="icon">
        <img src="images/cuidado_paliativo_icono.svg">
      </div>
      <div class="blurb">
        <h2>Cuidado Paliativo</h2>
        <p>Lorem ipsum dolor sit amet, ex vix fabellas voluptatibus, an delectus cotidieque nec. An mea malorum dolores legendos, te est aeque oporteat aliquando.</p>
      </div>
    </article>
  </section>

</div>