---
title: Welcome to Middleman
---
<div>
  <h1>HELLO FUCKERS</h1>
  <h4>Nice to meet you</h4>
</div>

<div class="welcome">
  <h1>Middleman is Watching</h1>
  <h2>Is he?</h2>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->