<div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=889326924419187";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>

<!--jquery-->
<script src="javacripts/jquery-1.9.1.min.js"></script>

<!--famax-->
<script src="javascripts/jquery.famax.min.js"></script>

<div class="wrapper secondary-page">

  <section class="content">
    <div class="secondary header">
      <h1>Noticias</h1>
    </div>

    <div class="fb-page" data-href="https://www.facebook.com/clinicaplexus" data-width="500" data-height="1000" data-hide-cover="true" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/clinicaplexus"><a href="https://www.facebook.com/clinicaplexus">PLEXUS Clínica del Estrés</a></blockquote></div></div>

  </section>
</div>