<div class="wrapper secondary-page">

  <section class="content">
    <div class="secondary header">
      <h1>Nuestro Equipo</h1>
    </div>

    <div class="primary main">
      <p>Somos un equipo de profesionales de la salud altamente capacitados en el tratamiento del estrés y las enfermedades asociadas a éste, que trabaja de forma interdisciplinar para ofrecer un tratamiento a la medida de las necesidades específicas de nuestros pacientes y sus familias.</p>
      <div class="staff">
        <div class="staff-member">
          <img src="images/staff/rodrigo.png" atl="Dr. Rodrigo González Araiza">
          <h2>Dr. Rodrigo González Araiza</h2>
          <p>Lorem ipsum dolor sit amet, ex vix fabellas voluptatibus, an delectus cotidieque nec. An mea malorum dolores legendos, te est aeque oporteat aliquando.</p>
        </div>

        <div class="staff-member">
          <img src="images/staff/enrique.png" atl="Dr. Enrique González González">
          <h2>Dr. Enrique González González</h2>
          <p>Lorem ipsum dolor sit amet, ex vix fabellas voluptatibus, an delectus cotidieque nec. An mea malorum dolores legendos, te est aeque oporteat aliquando.</p>
        </div>

        <div class="staff-member">
          <img src="images/staff/blanca.png" atl="Psic. Blanca Armas Ramírez">
          <h2>Psic. Blanca Armas Ramírez</h2>
          <p>Lorem ipsum dolor sit amet, ex vix fabellas voluptatibus, an delectus cotidieque nec. An mea malorum dolores legendos, te est aeque oporteat aliquando.</p>
        </div>
      </div>
    </div>
  </section>

</div>